bench/results/compare_20260324T160059Z/children/rep02-rag/n8n_workflow_runtime_snapshot.json
{
  "candidates": [
    {
      "active": true,
      "created_at": "2026-01-27 09:10:30.233000+00:00",
      "id": "Q6X7JeDOqCT3Nu7M",
      "name": "AGENTIC_RAG",
      "updated_at": "2026-03-24 15:58:17.938000+00:00"
    }
  ],
  "db": {
    "dbname": "n8n_data",
    "host": "db",
    "port": 5432,
    "table": "workflow_entity",
    "user": "postgres"
  },
  "generated_at": "2026-03-24T23:46:53.589370+00:00",
  "selection": {
    "mode": "workflow_id",
    "workflow_id": "Q6X7JeDOqCT3Nu7M"
  },
  "workflow": {
    "active": true,
    "connections": {
      "Edit Fields": {
        "main": [
          [
            {
              "index": 0,
              "node": "RAG AI Agent",
              "type": "main"
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "index": 0,
              "node": "RAG AI Agent",
              "type": "ai_memory"
            }
          ]
        ]
      },
      "Postgres PGVector Store": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "RAG AI Agent",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "RAG AI Agent": {
        "main": [
          [
            {
              "index": 0,
              "node": "Respond to Webhook",
              "type": "main"
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Edit Fields",
              "type": "main"
            }
          ]
        ]
      },
      "gpt-5-nano": {
        "ai_languageModel": [
          [
            {
              "index": 0,
              "node": "RAG AI Agent",
              "type": "ai_languageModel"
            }
          ]
        ]
      },
      "text-embedding-3-small": {
        "ai_embedding": [
          [
            {
              "index": 0,
              "node": "Postgres PGVector Store",
              "type": "ai_embedding"
            }
          ]
        ]
      }
    },
    "createdAt": "2026-01-27 09:10:30.233000+00:00",
    "id": "Q6X7JeDOqCT3Nu7M",
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "name": "AGENTIC_RAG",
    "nodes": [
      {
        "credentials": {
          "postgres": {
            "id": "YTP3BLoRAlXRRhJ6",
            "name": "Postgres account"
          }
        },
        "id": "191c18e6-8132-41fc-acd8-4c252ce1f0f4",
        "name": "Postgres PGVector Store",
        "parameters": {
          "mode": "retrieve-as-tool",
          "options": {},
          "tableName": "documents_pg",
          "toolDescription": "Use RAG to look up information in the knowledgebase.",
          "topK": 16
        },
        "position": [
          384,
          352
        ],
        "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
        "typeVersion": 1.3
      },
      {
        "id": "20c84339-ec08-4afd-8452-575f47d06919",
        "name": "Webhook",
        "parameters": {
          "httpMethod": "POST",
          "options": {},
          "path": "call_openwebui",
          "responseMode": "responseNode"
        },
        "position": [
          -784,
          544
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "webhookId": "8ce5d789-b2e0-4e10-95dc-151db2a3e57f"
      },
      {
        "id": "a705bd38-9f3c-4aca-9603-828495735884",
        "name": "Edit Fields",
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
                "name": "chatInput",
                "type": "string",
                "value": "={{ $json?.chatInput || $json.body.chatInput }}"
              },
              {
                "id": "b80831d8-c653-4203-8706-adedfdb98f77",
                "name": "sessionId",
                "type": "string",
                "value": "={{ $json?.sessionId || $json.body.sessionId}}"
              }
            ]
          },
          "options": {}
        },
        "position": [
          -528,
          336
        ],
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4
      },
      {
        "id": "b1395454-bd8c-4b5d-a6f8-cf05363526b4",
        "name": "Sticky Note2",
        "parameters": {
          "content": "## RAG AI Agent \n",
          "height": 464.8027193303974,
          "width": 1035.6381264595484
        },
        "position": [
          -832,
          256
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "credentials": {
          "postgres": {
            "id": "YTP3BLoRAlXRRhJ6",
            "name": "Postgres account"
          }
        },
        "id": "d0741681-b5a9-44c4-9f5c-9f8c6cf4232e",
        "name": "Postgres Chat Memory",
        "notesInFlow": false,
        "parameters": {
          "tableName": "chat_history"
        },
        "position": [
          -224,
          560
        ],
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1
      },
      {
        "id": "1fb75df2-d875-4bdc-972a-dec4373bd942",
        "name": "Sticky Note",
        "parameters": {
          "color": 4,
          "content": "## Vektordatenbank f\u00fcr RAG\n",
          "height": 528.85546469693,
          "width": 583.4552380860637
        },
        "position": [
          208,
          192
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "credentials": {
          "openAiApi": {
            "id": "phZdcQrYW2peVPgf",
            "name": "OpenAi account"
          }
        },
        "id": "e9dee479-09e8-4290-bb0a-1cbb87d40e55",
        "name": "text-embedding-3-small",
        "parameters": {
          "options": {}
        },
        "position": [
          336,
          544
        ],
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2
      },
      {
        "id": "32a194c4-e76c-4b34-841c-e4ce62f9d09e",
        "name": "Respond to Webhook",
        "parameters": {
          "options": {
            "enableStreaming": false
          },
          "respondWith": "allIncomingItems"
        },
        "position": [
          16,
          336
        ],
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5
      },
      {
        "credentials": {
          "openAiApi": {
            "id": "phZdcQrYW2peVPgf",
            "name": "OpenAi account"
          }
        },
        "id": "b3a74fdf-44a7-49ab-a19c-7b018745ec2f",
        "name": "gpt-5-nano",
        "parameters": {
          "model": {
            "__rl": true,
            "cachedResultName": "gpt-5-nano",
            "mode": "list",
            "value": "gpt-5-nano"
          },
          "options": {
            "maxTokens": 32768,
            "temperature": 1,
            "topP": 1
          },
          "responsesApiEnabled": false
        },
        "position": [
          -416,
          560
        ],
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3
      },
      {
        "id": "e44b8461-c458-4cac-90fb-75adf798c164",
        "name": "RAG AI Agent",
        "parameters": {
          "options": {
            "enableStreaming": false,
            "systemMessage": "You are a helpful assistant that answers user questions accurately and efficiently.\nUse the available knowledge tools only when they are actually needed to answer correctly or to support the answer with document evidence. Do not start with retrieval by default. First decide whether the question can be answered directly from the user input, conversation context, or general reasoning. If so, answer directly without using any tool.\nUse retrieval when:\n- the question depends on specific knowledge from the document corpus,\n- a factual claim should be verified against the available documents,\n- the answer should include grounded citations from the knowledge base.\nIf retrieval is needed:\n- perform a single focused retrieval step first,\n- use a short and precise search query,\n- answer from the retrieved evidence,\n- cite supporting documents in the format [source: filename],\n- cite only documents that actually support the answer.\nIf retrieval is not needed:\n- answer immediately,\n- do not mention internal reasoning, tool decisions, or that retrieval was skipped.\nGeneral rules:\n- be concise, clear, and accurate,\n- prefer the minimum necessary number of tool calls,\n- do not use retrieval just in case,\n- do not invent facts or citations,\n- if available evidence is insufficient, say so clearly."
          }
        },
        "position": [
          -320,
          336
        ],
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3
      }
    ],
    "openai_credential_ids": [
      "phZdcQrYW2peVPgf"
    ],
    "openai_credential_names": [
      "OpenAi account"
    ],
    "openai_nodes": [
      {
        "credential_id": "phZdcQrYW2peVPgf",
        "credential_name": "OpenAi account",
        "id": "e9dee479-09e8-4290-bb0a-1cbb87d40e55",
        "name": "text-embedding-3-small",
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi"
      },
      {
        "credential_id": "phZdcQrYW2peVPgf",
        "credential_name": "OpenAi account",
        "id": "b3a74fdf-44a7-49ab-a19c-7b018745ec2f",
        "name": "gpt-5-nano",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi"
      }
    ],
    "settings": {
      "availableInMCP": false,
      "callerPolicy": "workflowsFromSameOwner",
      "executionOrder": "v1",
      "timeSavedMode": "fixed",
      "timezone": "Europe/Berlin"
    },
    "staticData": null,
    "updatedAt": "2026-03-24 15:58:17.938000+00:00"
  },
  "workflow_content_sha256": "5090df1f364161a6c912946462850a698e621d3969cd09f64025777ade11aea4"
}