n8n_workflows/PGVector/chatbot.json
{
  "nodes": [
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use RAG to look up information in the knowledgebase.",
        "tableName": "documents_pg",
        "topK": 16,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        384,
        352
      ],
      "id": "191c18e6-8132-41fc-acd8-4c252ce1f0f4",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "YTP3BLoRAlXRRhJ6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "call_openwebui",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "20c84339-ec08-4afd-8452-575f47d06919",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -784,
        544
      ],
      "webhookId": "8ce5d789-b2e0-4e10-95dc-151db2a3e57f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a705bd38-9f3c-4aca-9603-828495735884",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        336
      ]
    },
    {
      "parameters": {
        "content": "## RAG AI Agent \n",
        "height": 464.8027193303974,
        "width": 1035.6381264595484
      },
      "id": "b1395454-bd8c-4b5d-a6f8-cf05363526b4",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -832,
        256
      ]
    },
    {
      "parameters": {
        "tableName": "chat_history"
      },
      "id": "d0741681-b5a9-44c4-9f5c-9f8c6cf4232e",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        -224,
        560
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "YTP3BLoRAlXRRhJ6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Vektordatenbank für RAG\n",
        "height": 528.85546469693,
        "width": 583.4552380860637,
        "color": 4
      },
      "id": "1fb75df2-d875-4bdc-972a-dec4373bd942",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        192
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        544
      ],
      "id": "e9dee479-09e8-4290-bb0a-1cbb87d40e55",
      "name": "text-embedding-3-small",
      "credentials": {
        "openAiApi": {
          "id": "phZdcQrYW2peVPgf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "enableStreaming": false
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        16,
        336
      ],
      "id": "32a194c4-e76c-4b34-841c-e4ce62f9d09e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 32768,
          "temperature": 1,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -416,
        560
      ],
      "id": "b3a74fdf-44a7-49ab-a19c-7b018745ec2f",
      "name": "gpt-5-nano",
      "credentials": {
        "openAiApi": {
          "id": "phZdcQrYW2peVPgf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant that answers user questions accurately and efficiently.\nUse the available knowledge tools only when they are actually needed to answer correctly or to support the answer with document evidence. Do not start with retrieval by default. First decide whether the question can be answered directly from the user input, conversation context, or general reasoning. If so, answer directly without using any tool.\nUse retrieval when:\n- the question depends on specific knowledge from the document corpus,\n- a factual claim should be verified against the available documents,\n- the answer should include grounded citations from the knowledge base.\nIf retrieval is needed:\n- perform a single focused retrieval step first,\n- use a short and precise search query,\n- answer from the retrieved evidence,\n- cite supporting documents in the format [source: filename],\n- cite only documents that actually support the answer.\nIf retrieval is not needed:\n- answer immediately,\n- do not mention internal reasoning, tool decisions, or that retrieval was skipped.\nGeneral rules:\n- be concise, clear, and accurate,\n- prefer the minimum necessary number of tool calls,\n- do not use retrieval just in case,\n- do not invent facts or citations,\n- if available evidence is insufficient, say so clearly.",
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -320,
        336
      ],
      "id": "e44b8461-c458-4cac-90fb-75adf798c164",
      "name": "RAG AI Agent"
    }
  ],
  "connections": {
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "text-embedding-3-small": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "gpt-5-nano": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f147877c30c8b6d6723ae959015f678f910c6ebef15dc043b871ba0d9c200af"
  }
}